/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - #eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-image: url(img/bg.jpg);
  font-family: Helvetica;
}

body>div {
  background: white;
  border: 2px solid #ffd24a;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-bottom: 2%;
  width: 75%;

}

#site_header{
  background: #ff8523;
  padding: 1%;
  padding-bottom: 3%;
}

#logo img {
  background-size: cover;
  margin: 2%;

}

section {
  border-bottom: 5px solid #ddd;
  padding: 5% 0%;
}

.main_navigation {
  margin-left: 2%;
}

.main_navigation a {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font: bold 18px Helvetica;
  padding: 1% 3%;
  text-decoration: none;
}

.main_navigation a:hover {
  background: red;
}

#page_content {
  padding: 2%;
}

#page_content a{
  color: #1fabe5;
}

ul {
  font-weight: bold;
}

h2, h3 {
  color: #1fabe5;
}

h2{
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  display: block;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background: #1fabe5;
  color: white;
}

thead td {
  padding: 2%;
}

td {
  border: 1px solid #046c97;
  font-size: 18px;
  padding-left: 1%;
}

td img {
  display: inline-block;
  height: 100px;
  /*margin: 1%;*/
  /*padding: 1%;*/
}

form {
  background: #eee;
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
}

.name {
  background: #ff8523;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 20px;
  margin: 3%;
  padding: 3%;
}

input {
  padding: 2%;
  padding-left: 9%;
  padding-right: 9%;
}

.city_container {
  padding-bottom: 2%;
}

label {
  font-size: 16px;
  font-weight: bold;
  padding: 2%;
}

#city {
  font-size: 12px;
}

textarea {
  border: 1px solid #1fabe5;
  font-size: 18px;
  margin: 2%;
  padding: 2%;
  width: 92%;
}

textarea:focus {
  outline: none;
}

.submit_container>input {
  background: #1fabe5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 2%;
  padding: 2%;
  text-transform: uppercase;
}

.submit_container>input:hover {
  background: red;
}
